html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

#loadingScreen {
    background: linear-gradient(to right,rgb(2, 3, 59), rgb(0, 2, 127) 50%, rgb(2, 3, 59)  );
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
img#logoim {
    margin-top: -110px;
    max-width: 100%;
    height: auto;
}
img#hand{
    margin-top: -30px;
    margin-right: 10px
}
#logoText {
    display: flex;
    color: white;
    font-size: 100px;
    font-family: 'ProximaNova-Black';
    font-weight: 100;
    margin-top: -150px;
    text-align: center;
}

@font-face {
    font-family: 'ProximaNova-Black';
    src: local('ProximaNova-Black'),
        url('/fonts/ProximaNova-Black.ttf') format(truetype)
}


.loader {
    margin-top: 35px;
    border: 12px solid #ffffff; 
    border-right: 12px solid #030733; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#mainContent {
    background-color: rgb(20, 20, 20);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.topnav {
    position: fixed; /* Фиксируем позицию панели */
    top: 0; /* Располагаем ее вверху страницы */
    left: 0; /* Располагаем ее слева */
    width: 100%; 
    z-index: 1000; 
    display: flex;
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    padding: 10px 0;
}
.menu {
    display: flex;
    align-items: center;
}
.menu a {
    
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Arial';
    border-radius: 30px 30px 30px 30px;
    border:5px solid rgb(40, 40, 40);
    box-shadow: 5px 5px 5px rgb(15, 15, 15);
    margin: 20px 20px;

}
.icons {
    display: flex;
    align-items: center;
}
.icons img {
    height: 55px;
    width: auto;
    margin-left: 20px; 
    margin-right: 20px;
}
img#Qlogo {
    height: 70px;
    padding-right: 10px;
    width: auto;
}
#QlogoText {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Arial';
    border-radius: 30px;
    border: 5px solid rgb(40, 40, 40);
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%; 
    box-shadow: 5px 5px 5px rgb(15, 15, 15);
}
#container {
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    margin: 20px; 
}
img#MeIm {
    height: 960px;
    width: auto; 
    margin-left: 20%;
    margin-top: 3%; 
    border-radius: 40px 40px 40px 40px;
    border:10px solid rgb(40, 40, 40);
    box-shadow: 10px 10px 5px rgb(10, 10, 10);
}
#AboutMe {
    text-align: center;
    color: white;
    font-size: 85px;
    font-family: 'ProximaNova-Black', sans-serif;
    margin-left: 30%; 
    display: flex;

}
#HiText {
    line-height: 1.5;
    color: white;
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    margin-left: 130px; 
    display: flex;
    margin-top: 3%; 
    font-weight: bold;
}

#textContainer {
    margin-top: 3%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.wk_but {
    position: absolute;
    left: 45%;
    cursor: pointer;
    outline: none;
}
#content {
    padding: 20px;
}

