html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Отключаем прокрутку */
}

/* Экран загрузки */
#loadingScreen {
    background: linear-gradient(to right, rgb(2, 3, 59), rgb(0, 2, 127) 50%, rgb(2, 3, 59));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#logoText {
    display: flex;
    color: white;
    font-size: 100px;
    font-family: 'ProximaNova-Black';
    font-weight: 100;
    margin-top: -100px;
    text-align: center;
}

img#logoim {
    margin-top: -110px;
    max-width: 100%;
    height: auto;
}

img#hand {
    margin-top: -30px;
    margin-right: 10px;
}

/* Анимация загрузки */
.loader {
    margin-top: 35px;
    border: 12px solid #ffffff;
    border-right: 12px solid #030733;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Основной контент */
#mainContent {
    background-color: rgb(20, 20, 20);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* Навигационное меню */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 30);
    padding: 10px 0;
    display: none; /* Меню скрыто по умолчанию */
}

.menu {
    display: flex;
    align-items: left;
}

.menu a {
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Arial';
    border-radius: 30px;
    border: 5px solid rgb(40, 40, 40);
    box-shadow: 5px 5px 5px rgb(15, 15, 15);
    margin: 20px 20px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    height: 55px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

img#Qlogo {
    height: 70px;
    width: auto;
    padding-right: 10px;
}

#QlogoText {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Arial';
    border-radius: 30px;
    border: 5px solid rgb(40, 40, 40);
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-shadow: 5px 5px 5px rgb(15, 15, 15);
}

/* Контейнер с основным контентом */
#container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: rgb(20, 20, 20); /* Фон */
    height: 100vh; /* Высота 100% экрана */
}
#textContainer {
    align-items: flex-start;
}
img#MeIm {
    height: auto;
    width: 100%;
    max-width: 700px; /* Ограничение максимальной ширины */
    margin-right: 60px;
    border-radius: 40px; /* Радиус границ */
    border: 10px solid rgb(40, 40, 40); /* Рамка */
    box-shadow: 10px 10px 5px rgb(10, 10, 10); /* Тень */
}

#AboutMe {
    
    color: white;
    font-size: 85px;
    font-family: 'ProximaNova-Black', sans-serif;
}

#HiText {
    
    color: white;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: left; /* Выравнивание текста по левому краю */
    max-width: 600px; /* Ограничение максимальной ширины текста */
    line-height: 1.6;
}

#textContainer.AboutMe {
    
    align-items: flex-start;;
}
/* Обертка для картинки и текста */
#imageTextWrapper {
    display: flex;
    justify-content: space-evenly; /* Равномерное распределение пространства */
    align-items: flex-start;
    background-color: #1a1a1a; /* Цвет фона обертки */
    padding: 50px; /* Увеличение внутреннего отступа */
    border-radius: 30px; /* Увеличение радиуса углов */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5); /* Тень */
    max-width: 1400px; /* Увеличение максимальной ширины блока */
    flex-wrap: wrap; /* Позволяет тексту переноситься под изображение */
}
.wk_but {
    position: absolute;
    left: 45%;
    cursor: pointer;
    outline: none;
}

/* Содержимое основной страницы */
#content {
    padding: 20px;
}

/* Применяем шрифт */
@font-face {
    font-family: 'ProximaNova-Black';
    src: local('ProximaNova-Black'), url('/fonts/ProximaNova-Black.ttf') format('truetype');
}

@media (max-width: 768px) {
    #imageTextWrapper {
        flex-direction: column;
        text-align: center; /* Выравнивание текста по центру на маленьких экранах */
    }

    img#MeIm {
        max-width: 80%; /* Уменьшаем ширину изображения на маленьких экранах */
    }

    #HiText {
        font-size: 20px; /* Уменьшаем размер текста на маленьких экранах */
    }
    #AboutMe{
        font-size: 30px;
    }
}
